
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
@import "tailwindcss";

:root {
  --background: #0b0416;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #082B27;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: "Preahvihear", sans-serif;
}

@keyframes scroll-horizontal {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-25%, 0, 0);
  }
}

.animate-scroll-horizontal {
  animation-name: scroll-horizontal;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform;
}